.main-navigation {
    width: 17%;
    height: 100vh;
    background: #212121;
    padding: 108px 0 0 35px;
    text-align: left;
    box-sizing: content-box;

    ul {
        margin: 0;
        height: 100%;
        padding: 0;
    }

    li {
        list-style: none;
    }

}